@{
    ViewData["Title"] = "Админ";
    Layout = "_LayoutAdmin";
}
@model WebApplication2.ViewModels.AdminViewModel

<main class="main" style="color: #000000;">
    <div class="welcome">
        <h1>Добро пожаловать, @User.Identity.Name!</h1>
        <p>Вы на главной странице админ-панели.</p>
    </div>
</main>
